
/*데탑*/
@media screen and (max-width:1440px) {
}



/*노트북*/
  @media screen and (max-width:1024px) {
    #contact .contact_wrap::after{
      top: 10%;
      transition: translate(-10%, -50%);
    }
}



  /*아이패드 (768px)*/
  @media screen and (max-width:991px) {
    /* contact */
    #contact .contact_wrap{
      flex-direction: column;
      text-align: center;
    }

    #contact .contact_wrap::after{
      background: none;
    }

    #contact .contact_wrap .ct_left{
      width: 100%;
      padding: 100px 0;
    }

    #contact .contact_wrap .ct_right{
      width: 100%;
      padding-bottom: 100px;
    }

    /* footer */
    footer .footer_area .f_top h1 img{
      max-width: 80%;
    }

    footer .footer_area .f_top .white_pp{
      width: 45%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    footer .footer_area .f_top .white_pp h5{
      font-weight: 500;
      font-size: 20px;
    }

    footer .footer_area .f_top .white_pp button{
      width: 20%;
      margin-left: 3%;
    }

    footer .footer_area .f_top .white_pp button a{
      font-size: 15px;
      font-weight: 500;
    }

    footer .footer_area .f_top .white_pp button img{
      padding-left: 0px;
    }

}



/*모바일*/

@media screen and (max-width:767px) {
  
}


/*모바일2*/

@media screen and (max-width:576px) {
  footer .footer_area .f_top{
    display: flex;
    flex-direction: column;
  }

  footer .footer_area .f_top h1{
    width: 50%;
    text-align: center;
    padding-bottom: 3%;
   }

   footer .footer_area .f_top h1 img{
    max-width: 50%;
  }

  footer .footer_area .f_top .white_pp{
    width: 100%;
    justify-content: center;
    padding-bottom: 3%;
  }
}



/*모바일3 갤럭시*/

  @media screen and (max-width:425px) {
    #contact .contact_wrap .ct_left{
      padding: 50px 0;
    }

    #contact .contact_wrap .ct_right{
      padding-bottom: 50px;
    }

    footer .footer_area .f_top .white_pp{
      width: 100%;
      padding-bottom: 3%;
    }
}



/*모바일4 아이폰*/
    @media screen and (max-width:375px) {

}
