
/*데탑*/
@media screen and (max-width:1440px) {

}



/*노트북*/
  @media screen and (max-width:1024px) {
    .links a.btn-hover{
      width: 20%;
      padding: 1.3%;
    }


    .home_wrap{
      padding: 18% 0;
    }
}



  /*아이패드 (768px)*/
  @media screen and (max-width:991px) {

    .home_wrap{
      padding: 25% 0 28%;
    }


    .pc_menu{
      display: none;
    }


    .m_menu{
      display: block;
    }

    .links a.btn-hover{
      width: 26%;
      padding: 1.5%;
    }
 
}



/*모바일*/

@media screen and (max-width:767px) {

  .home_wrap{
    padding: 30% 0 34%;
  }

  .home_contents p.main_title{
    font-size: 7em;
  }

  .links a.btn-hover{
    width: 35%;
    padding: 2%;
  }
}


/*모바일2*/


@media screen and (max-width:576px) {
  .home_contents p.main_title{
    font-size: 5em;
  }

  .home_contents b{
    font-size: 1.2em;
  }

  .links{
    margin-top: 10%;
  }

  .links a.btn-hover{
    width: 70%;
    display: block;
    margin: 0 auto 5%;
    padding: 3%;
  }

  .links a:last-child{
    margin-right: auto !important;
    margin-bottom: 0 !important;
  }

  
  .home_wrap{
    padding: 42% 0 48%;
  }
  
}



/*모바일3 갤럭시*/

  @media screen and (max-width:425px) {
    .home_contents b{
      font-size: 1.1em;
    }
}



/*모바일4 아이폰*/
    @media screen and (max-width:375px) {

}
